.my-table th {
  background-color: #D9EDFF; 
  color: #5F5F5F;
  border: 1px solid #CDCCCC;  /* Usuń jeśli nie chcesz linii w nagłówku */
}

.my-table table {
  border: 1px solid #CDCCCC;
  border-width: 1px;
}

.my-table td {
  border: 1px solid #CDCCCC; 
}

.my-text {
  font-size: 18px;
  font-weight: bold;
  color: #007BFF; /* Niebieski kolor tekstu */
}